<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829685819933-75s7f3j9e2iraij4chf23akf84btsed8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829685819933-75s7f3j9e2iraij4chf23akf84btsed8</string>
	<key>API_KEY</key>
	<string>AIzaSyA-O2HbP6iVdQPMw6fLv4Ymq49MZ50OE4A</string>
	<key>GCM_SENDER_ID</key>
	<string>829685819933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-aec1d</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-aec1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829685819933:ios:2cd379a59c219b7c40f4f4</string>
</dict>
</plist>